
.faq-launch{
      margin-top: 20rem;
      margin-bottom: 5rem;
     }

.main-faq{
  font-size: 5rem;
}

.faq {
  font-size: 2rem;
  width: 80%;
  margin: auto;
  margin-top: 4rem;
  font-weight: 700;

}

.faq-heading {
  text-align: center;
}

.answer {
  font-size: 1.5rem;
}


@media screen and (max-width: 937px) {
     .faq-launch{
      margin-top:-17rem;
     }
     
}